.gitignore

.DS_Store
**/.DS_Store

nvim/

# Vim local files
vim/.vim/.netrwhist
vim/.vim/plugged/
vim/.vim/autoload/
vim/.vim/*.py

# Zsh plugin files
zsh/.config/.zsh/plugins/*
!zsh/.config/.zsh/plugins/.gitkeep
